.loading {
  animation: spin 1s linear infinite;
  width: 26px;
  height: 26px;
  position: absolute;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
